# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_file = os.path.join('weather_data.csv')

city_df = pd.read_csv(csv_file)
city_df

,City,Country,Lat,Lon,Date,Max Temp (cs),Humidity,Cloudiness,Wind Speed (mph)
0,Lompoc,US,34.6391,-120.4579,1622659620,30.38,77,40,0.89
1,Tasiilaq,GL,65.6145,-37.6368,1622659761,5.09,82,30,2.66
2,Xucheng,CN,20.3500,110.1288,1622659761,27.39,88,94,4.67
3,Kaitangata,NZ,-46.2817,169.8464,1622659762,5.85,90,13,3.03
4,Jumla,NP,29.2747,82.1838,1622659762,12.60,84,27,1.48
5,Nikolskoye,RU,59.7035,30.7861,1622659762,16.94,75,35,2.41
6,Longyearbyen,SJ,78.2186,15.6401,1622659763,6.91,65,75,12.35
7,Kavieng,PG,-2.5744,150.7967,1622659763,27.01,79,100,2.66
8,Saint-Philippe,RE,-21.3585,55.7679,1622659613,23.77,84,97,6.94
9,Cherskiy,RU,68.7500,161.3000,1622659763,11.71,38,36,3.63
10,Arraial do Cabo,BR,-22.9661,-42.0278,1622659764,26.98,73,0,4.63
11,Pevek,RU,69.7008,170.3133,1622659764,0.25,73,19,0.98
12,Anito,PH,12.4497,125.2886,1622659764,24.77,89,100,1.96
13,Kolokani,ML,13.5728,-8.0339,1622659765,37.02,19,100,2.33
14,Norman Wells,CA,65.2820,-126.8329,1622659765,8.02,71,75,4.12
15,Aklavik,CA,68.2191,-135.0107,1622659673,1.46,86,90,2.57
16,Airai,TL,-8.9266,125.4092,1622659765,13.04,89,42,1.27
17,Deer Lake,CA,49.1667,-57.4316,1622659766,21.92,46,40,6.69
18,Zamość,PL,50.7231,23.2520,1622659766,13.91,74,100,2.05
19,Bengkulu,ID,-3.8004,102.2655,1622659766,25.06,86,94,1.93
20,Albany,US,42.6001,-73.9662,1622659483,26.05,53,100,2.19
21,Dikson,RU,73.5069,80.5464,1622659583,-5.13,93,31,2.45
22,Ushuaia,AR,-54.8000,-68.3000,1622659512,1.79,95,26,0.74
23,Mtinko,TZ,-4.5500,34.8500,1622659767,17.43,55,50,3.13
24,Graaff-Reinet,ZA,-32.2522,24.5308,1622659767,8.84,72,2,1.09
25,Pangnirtung,CA,66.1451,-65.7125,1622659469,1.00,93,90,4.63
26,Mar del Plata,AR,-38.0023,-57.5575,1622659768,13.94,50,40,1.34
27,Hamilton,US,39.1834,-84.5333,1622659738,19.56,95,90,0.45
28,East London,ZA,-33.0153,27.9116,1622659571,16.52,82,0,6.69
29,Prado,BR,-17.3411,-39.2208,1622659768,25.56,70,16,3.68
...,...,...,...,...,...,...,...,...,...
527,Rāzole,IN,16.4833,81.8333,1622659912,28.73,83,4,1.66
528,Kieta,PG,-6.2167,155.6333,1622659652,25.81,83,86,1.10
529,Hasaki,JP,35.7333,140.8333,1622659913,18.16,79,9,3.21
530,Balkanabat,TM,39.5108,54.3671,1622659913,34.96,17,0,2.15
531,Casper,US,42.8666,-106.3131,1622659913,24.89,25,1,2.24
532,Teruel,ES,40.6667,-0.6667,1622659914,17.98,65,49,3.80
533,Tūkrah,LY,32.5341,20.5791,1622659914,22.25,51,66,6.25
534,Camalú,MX,30.8500,-116.0667,1622659914,24.68,64,22,3.98
535,Zonguldak,TR,41.2500,31.8333,1622659915,8.15,94,99,2.27
536,Prainha,BR,-1.8000,-53.4800,1622659915,30.83,57,31,1.62
537,Rincon,US,32.2960,-81.2354,1622659915,30.95,83,75,2.65
538,Okha,RU,53.5739,142.9478,1622659916,5.64,96,50,2.95
539,Abhā,SA,18.2164,42.5053,1622659916,26.14,10,0,4.03
540,Buckingham,GB,51.9997,-0.9878,1622659916,22.72,59,100,3.42
541,Porto Santo,PT,33.0720,-16.3415,1622659917,19.21,59,40,5.66
542,Doha,QA,25.2867,51.5333,1622659854,34.99,28,0,3.60
543,Alihe,CN,50.5667,123.7167,1622659917,7.34,97,100,1.41
544,Cedar City,US,37.6775,-113.0619,1622659917,31.33,8,1,2.57
545,Touros,BR,-5.1989,-35.4608,1622659630,30.50,67,4,6.89
546,Barranca,PE,-10.7500,-77.7667,1622659918,20.62,70,74,3.44
547,Djebeniana,TN,35.0350,10.9081,1622659918,23.89,82,100,4.05
548,Medvezh'yegorsk,RU,62.9167,34.4667,1622659918,13.51,64,97,2.03
549,Bilma,NE,18.6853,12.9164,1622659919,35.15,9,15,1.88
550,Gazojak,TM,41.1875,61.4036,1622659919,32.90,19,0,4.90
551,Klaksvík,FO,62.2266,-6.5890,1622659919,10.51,95,100,3.82
552,Sonoita,MX,31.8500,-112.8333,1622659919,36.41,13,6,4.53
553,Naivasha,KE,-0.7167,36.4359,1622659920,16.17,91,38,1.99
554,Noumea,NC,-22.2763,166.4572,1622659920,19.44,99,39,2.87
555,Henties Bay,NaN,-22.1160,14.2845,1622659921,17.70,55,0,3.81
556,Oranjemund,NaN,-28.5500,16.4333,1622659921,15.06,61,0,5.88

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
s1_df= city_df.loc[((city_df['Max Temp (cs)'] >= 21) & (city_df['Max Temp (cs)'] <= 26))]
s2_df= s1_df.loc[(s1_df['Wind Speed (mph)'] <= 10)]
s3_df= s2_df.loc[(s2_df['Cloudiness'] == 0)]
s3_df

,City,Country,Lat,Lon,Date,Max Temp (cs),Humidity,Cloudiness,Wind Speed (mph)
49,Kajaani,FI,64.2273,27.7285,1622659773,21.03,35,0,1.54
108,Jaen,ES,38.0000,-3.5000,1622659790,25.52,24,0,3.94
181,Aktau,KZ,43.6500,51.2000,1622659811,22.32,73,0,5.35
274,San Miguel de Tucumán,AR,-26.8241,-65.2226,1622659808,23.00,46,0,2.46
284,Boysun,UZ,38.2061,67.1986,1622659840,24.81,20,0,3.58
317,Uruguaiana,BR,-29.7547,-57.0883,1622659850,21.96,49,0,6.69
330,Harsīn,IR,34.2721,47.5861,1622659854,23.45,26,0,1.61
334,Aras,ES,42.5617,-2.3560,1622659855,24.23,44,0,1.54
484,Luanda,AO,-8.8368,13.2343,1622659807,25.00,83,0,3.09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = s3_df
hotel_df['Hotel Name'] = ""
hotel_df

C:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,City,Country,Lat,Lon,Date,Max Temp (cs),Humidity,Cloudiness,Wind Speed (mph),Hotel Name
49,Kajaani,FI,64.2273,27.7285,1622659773,21.03,35,0,1.54,
108,Jaen,ES,38.0000,-3.5000,1622659790,25.52,24,0,3.94,
181,Aktau,KZ,43.6500,51.2000,1622659811,22.32,73,0,5.35,
274,San Miguel de Tucumán,AR,-26.8241,-65.2226,1622659808,23.00,46,0,2.46,
284,Boysun,UZ,38.2061,67.1986,1622659840,24.81,20,0,3.58,
317,Uruguaiana,BR,-29.7547,-57.0883,1622659850,21.96,49,0,6.69,
330,Harsīn,IR,34.2721,47.5861,1622659854,23.45,26,0,1.61,
334,Aras,ES,42.5617,-2.3560,1622659855,24.23,44,0,1.54,
484,Luanda,AO,-8.8368,13.2343,1622659807,25.00,83,0,3.09,

In [14]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lon we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lon = row["Lon"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lon}"

    #set base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        print(f'adding data for row {index}')
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

adding data for row 49
adding data for row 108
adding data for row 181
adding data for row 274
adding data for row 284
adding data for row 317
adding data for row 330
Missing field/result... skipping.
adding data for row 334
adding data for row 484

In [17]:
hotel_df

,City,Country,Lat,Lon,Date,Max Temp (cs),Humidity,Cloudiness,Wind Speed (mph),Hotel Name
49,Kajaani,FI,64.2273,27.7285,1622659773,21.03,35,0,1.54,Original Sokos Hotel Valjus
108,Jaen,ES,38.0000,-3.5000,1622659790,25.52,24,0,3.94,Hotel TRH Baeza
181,Aktau,KZ,43.6500,51.2000,1622659811,22.32,73,0,5.35,Renaissance Aktau Hotel
274,San Miguel de Tucumán,AR,-26.8241,-65.2226,1622659808,23.00,46,0,2.46,Sheraton Tucuman Hotel
284,Boysun,UZ,38.2061,67.1986,1622659840,24.81,20,0,3.58,Gaza Hotel
317,Uruguaiana,BR,-29.7547,-57.0883,1622659850,21.96,49,0,6.69,Hotel Presidente
330,Harsīn,IR,34.2721,47.5861,1622659854,23.45,26,0,1.61,
334,Aras,ES,42.5617,-2.3560,1622659855,24.23,44,0,1.54,Palacio de Pujadas by MIJ
484,Luanda,AO,-8.8368,13.2343,1622659807,25.00,83,0,3.09,EPIC SANA Luanda

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure